@font-face {
    font-family: 'ProximaNova-Black';
    src: url('../fonts/ProximaNova-Black.otf');
}
*,*:after,*:before{
    box-sizing: border-box;
}
body{
    background: #070506 url('../img/main-bg.png');
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    max-width: 1060px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 90px;
}
.header__logo{
    margin-right: 70px;
}
.nav__link{
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}
.hero__subtitle{
    font-size: 40px;
    line-height: 100%;
    margin-top: 78px;
    display: block;
    font-family: 'ProximaNova-Black', sans-serif;
}
.hero__title{
    margin-top: 5px;
    font-size: 64px;
    line-height: 78px;
    font-family: 'ProximaNova-Black', sans-serif;
}
.hero__description{
    font-size: 18px;
    line-height: 150%;
    color: #AFAFAF;
    max-width: 572px;
}
.hero__premier{
    font-size: 18px;
    line-height: 150%;
    color: #B02000;
    display: block;
    margin-bottom: 5px;
}
.hero__date{
    display: block;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 46px;
}
.button-play{
    position: relative;
    border: none;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;   
    color: #fff;
    padding: 25px 35px;
    padding-right: 80px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
}
.button-play:after{
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background: white url('../img/play.svg') center no-repeat;
    right: 0;
    top: 0;
    border-radius: 50%;
}
.button-play:before{
    content: '';
    width: 81px;
    height: 81px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 50%;
}
.slider{
    display: flex;
    flex-wrap: wrap;
}
.slider__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    min-height: 200px;
    background: linear-gradient(0deg, rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86));
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 30px;
    transition: all .2s;
}
.slider__item:hover{
    background: linear-gradient(0deg, rgba(64, 101, 255, 0.86), rgba(64, 101, 255, 0.86));
}